// Variables
$primary-color: #3498db;
$hover-color: #2980b9;
$navbar-padding: 15px;
$navbar-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
$link-padding: 10px 20px;
$link-font-size: 16px;
$link-hover-color: #f4f4f4;

// Mixin para el estilo de la barra de navegación
@mixin navbar-style($bg-color: $primary-color, $shadow: $navbar-shadow, $padding: $navbar-padding) {
display: flex;
justify-content: space-around;
align-items: center;
background-color: $bg-color;
padding: $padding;
position: fixed;
width: 100%;
top: 0;
z-index: 1000;
box-shadow: $shadow;
line-height: 1.5;
}

// Mixin para estilo de enlaces
@mixin link-style($color: black, $padding: $link-padding, $font-size: $link-font-size, $hover-bg: $hover-color, $hover-color: $link-hover-color) {
color: $color;
text-decoration: none;
padding: $padding;
font-size: $font-size;
border-radius: 5px;
transition: background-color 0.3s ease, color 0.3s ease;
font-family: $font-main;

&:hover {
    background-color: $hover-bg;
    color: $hover-color;
}
}

// Clase de la barra de navegación
.navbar {
@include navbar-style;

a {
    @include link-style;
}
}
